supabase_ref=tkfhthotspehsgvmpsjm
region=sa-east-1
SUPABASE_URL=https://tkfhthotspehsgvmpsjm.supabase.co
SUPABASE_ANON_KEY=sua_anon_key
SUPABASE_PUBLISHABLE_KEY=sua_publishable_key
GEMINI_API_KEY=sua_chave_do_google_ai_studio